.card {
  display: flex;
  flex-direction: row;
  padding-left: 5%;
  padding-top: 2rem;
  /* padding-bottom: 5rem; */
}

img {
  max-width: 40%;
}

.journal--entry {
  display: flex;
  justify-content: flex-start;
  /* align-items: left; */
  align-content: left;
  flex-direction: column;
  max-width: 40%;
}

.title {
  display: flex;
  margin: 0;
  text-align: left !important;
  padding-left: 0.5rem;
  padding-bottom: 1.5rem;
}

.location--info {
  padding-top: 2rem;
  display: flex;
  letter-spacing: 0.075em;
  text-transform: "capitalize";
}

.location--info > img {
  padding: 0 0.25rem;
}

.location--photo {
  height: 20rem;
  width: 15rem;
}
.location--info > a {
  padding-left: 2rem;
}

.travel--date {
  display: flex;
  padding-left: 0.5rem;
}

.description {
  display: flex;
  padding-left: 0.5rem;
  padding-bottom: 1rem;
  align-content: flex-start;
  text-align: left;
}
