.card {
  display: flex;
  flex-direction: row;
  padding: 5% 5%;
}

img {
  max-width: 40%;
}

.journal--entry {
  display: flex;
  justify-content: flex-start;
  /* align-items: left; */
  align-content: left;
  background-color: gray;
  flex-direction: column;
}

.title {
  display: flex;
}
