body {
  background-color: white;
}

.title {
  margin: auto;
  padding: 0;
}

.banner {
  display: flex;
  flex-direction: row;
  font-family: Inter;
  background-color: #f55a5a;
  color: whitesmoke;
  letter-spacing: -0.075em;
  align-items: center;
  justify-content: space-around;
  align-content: flex-end;
}
img {
  padding: 0;
}
